<div class="container  align-items-center justify-content-center vh-100">
  <div class="text-center">
    <img src="./assets/img/welcome-image.png" class="img-fluid rounded mb-4" alt="Welcome Image">
    <h1 class="display-4">Bienvenue sur notre application</h1>
    <p class="lead">Découvrez la puissance de l'API Chat GPT dans notre application.</p>
    <a (click)="toChat()" class="btn btn-primary btn-lg mt-3">Commencez maintenant</a>
    <p class="fst-italic mt-4">Un site vitrine créé avec  <i class="bi bi-heart-fill red-heart" title="amour et passion"></i> par <a href="https://main--verdant-cassata-48de53.netlify.app/">CHEMLAL Abdelhakim</a></p>
  </div>
</div>
